*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    height: 75px;
}

main{
    background-color: rgb(28, 28, 118);
    
}

.cursor_pointed{
    cursor: pointer;
}
.d_flex{
    display: flex;
}
.d_none{
    display: none;
}

.buttons{
    width: 20%;
}
.large{
    width: 60vw;
}